
.footerContainer{
    background-color: #2c5694;
    color:white;
    margin-bottom: 0;
    position:relative;
    top: 300px;
    font-family: "Times New Roman", Times, serif;
}

.footerText{
    font-size: 16px;
}

@media(max-width: 767px){
    .footerContainer{
        top: 0;
    }
}