.background {
    border: 2px solid red;
}

.menuLogo{
    display: none;
    margin-left: auto;
}

@media(max-width:767px) {
    .background {
        border: 2px solid aquamarine;
    }

    .basLogoContiner {
        width: 30%;
    }
    
    .menuLogo{
        display: block;
    }
}