body {
    position: relative; /* Pseudo-elementin yerleşimi için gerekli */
}

body::before {
    content: "";
    background-image: url('../../../public/assets/background.webp');
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.09; /* Burada opacity değerini istediğiniz gibi ayarlayabilirsiniz */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Arka planda kalmasını sağlar */
    pointer-events: none; /* Üzerinde etkileşime izin vermez */
}
